@model ProductsManagementSystem.Models.VM.User.UserPasswordChangeViewModel



<div class="mt-5 w-50 m-auto">
    <h1 class="text-center">Change Your Password</h1>

    <form method="post" asp-action="PasswordChange">
        <div class="form-group mt-3">
            <label class="form-label" asp-for="@Model.OldPassword">Old Password</label>
            <input type="password" class="form-control" asp-for="@Model.OldPassword" />
            <span asp-validation-for="@Model.OldPassword"></span>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" asp-for="@Model.NewPassword">New Password</label>
            <input type="password" class="form-control" asp-for="@Model.NewPassword" />
            <span asp-validation-for="@Model.NewPassword"></span>
        </div>

        <div class="form-group mt-3">
            <label class="form-label" asp-for="@Model.ConfirmNewPassword">Confirm New Password</label>
            <input type="password" class="form-control" asp-for="@Model.ConfirmNewPassword" />
        </div>


        <div class="d-flex justify-content-between mt-5">
            <a class="btn btn-outline-dark" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>